*, *:before, *:after {
    box-sizing: border-box;
  }
  html {
    overflow-y: scroll;
  }
  #user {
    position: absolute;
    line-height: 45px;
    color: gray;
  }
  body {
    background-image: url(bgppl.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  }
  .kotak {
    position: absolute;
    margin-top: 68px;
    right: 213px;
    height: 470px;
    width: 925px;
    border-radius: 15px;
    background-color: #59504d;
    opacity: 0.5;
    filter: alpha(opacity=30);
  }
  .row1{
      color: whitesmoke;
  }
